.button {
  background: linear-gradient(to left, #0b486b, #f56217); /*sunset W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin: 0 2em;
  --url_bgImage1: url("../assets/Dome-of-Church-of-the-Holy-Sepulchre.jpg");
  --url_bgImage2: url('../assets/old-city-jerusalem.jpg');
  --url_bgImage3: url('../assets/jerusalem-old-city.jpg');
  --url_bgImage4: url('../assets/dead-sea-tiberias-sea-of-galilee.jpg');
  --url_bgImage5: url('../assets/Church_of_the_Holy_Sepulchre.jpg');
}

.grid > [style^='--aspect-ratio']::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 0;
  padding-bottom: calc(100% / (var(--aspect-ratio)));
}
.grid > *:hover .overlay {
  opacity: 1;
}
.grid > * {
  position: relative;
  text-align: center;
  border-radius: 7px;
  box-shadow: 3px 3px 9px 1px rgba(171,171,171,1);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (min-width: 400px) and (max-width: 800px) {
  /* .grid {

  } */
}

/* .grid img {
  object-fit: cover;
  max-height: 100%;
  width: 100%;
} */

.div1 {
  background: var(--url_bgImage3) center;
}
.div2 {
  background: var(--url_bgImage1) center;
}
.div3 {
  background: var(--url_bgImage2) center;
}
.headerOverlay {
  font-size: 1em;
  margin: 15px 0 10px;
}
.textOverlay {
  font-size: 0.8em;
  margin: 10px 5px 10px;
}
.overlay {
  position: absolute;
  bottom: 10px;
  opacity: 0;
  padding: 0 10px;
  width: 100%;
  transition: .5s ease;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .overlay {
    opacity: 1;
  }
}