#bgImage {
  width: 100%;
  height: 30em;
  margin: 0;
  padding: 0;
}

.mainTitle {
  z-index: 2;
  text-align: left;
  max-width: 50%;
  position: absolute;
  margin: 20px 0 0 50px;
  padding: 2px 0 2px 10px;
  border-radius: 10px;
  mix-blend-mode: luminosity;
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
}

@media screen and (max-width: 500px) {
  .mainTitle {
    margin: 10px 0 0 25px;
    padding: 2px 0 2px 10px;
  }
}

.mainTitle p {
  font-size: 3.2vw;
  font-weight: bold;
  color: #2364aa;
}

.mainTitle span {
  font-size: 2vw;
  color: #2364aa;
}

.carouselItem {
  max-width: 100%;
  height: auto;
}