#bgImage {
  width: 100%;
  height: 30em;
  margin: 0;
  padding: 0;
}

.mainTitle {
  z-index: 2;
  text-align: left;
  max-width: 50%;
  position: absolute;
  padding: 20px 0 0 50px;
}

.mainTitle p {
  font-size: 3.2vw;
  font-weight: bold;
  color: #2364aa;
}

.mainTitle span {
  font-size: 2vw;
  color: #2364aa;
}

.carouselItem {
  max-width: 100%;
  height: auto;
}