/* nav ul {
  position: fixed;
  width: 60%;
  top: 0;
  right: 0;
  text-align: left;
  background: rgb(36, 41, 44);
  height: 100%;
  z-index: 7;
  padding-top: 3em;
}

nav ul li a {
  color: #FFF;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 1em 2em;
  background-color: rgb(49, 51, 59);
}

nav ul li a:hover {
  background-color: rgb(65, 73, 78);
} */

.headerContainer {
  padding: 10px 10px 5px;
  background-color: var(--nav-drawer-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
}

nav ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

nav ul li {
  text-decoration: none;
  list-style: none;
  padding-right: 2em;
}

nav ul li a {
  color: var(--color-text-light);
  transition: color 0.3s ease;
}

nav ul li a:hover {
  cursor: pointer;
  text-decoration: none;
  color: var(--color-secondary);
}

nav ul li a:active {
  color: var(--color-secondary);
}

.hide-desktop {
  display: none;
}

.ham, .hamtoggle {
  display: none;
}

#mainLogo {
  width: 5%;
  padding: 0;
  margin-left: 20px;
}

@media screen and (max-width: 768px) {

  .show-desktop {
    display: block;
    margin: 0 auto 13% auto;
  }

  .hide-desktop {
    display: block;
  }

  nav input {
    opacity: 0;
    z-index: 2;
    position: absolute;
  }

  nav ul {
    transition: width 2s ease;
  }

  nav input:not(:checked) ~ .ham {
    display: block;
    color: #ffffff;
    position: relative;
  }

  nav input:not(:checked) ~ .hamtoggle {
    display: none;
  }

  nav input:not(:checked) ~ ul {
    display: none;
  }

  nav input:checked ~ .ham {
    display: none;
  }

  nav input:checked ~ .hamtoggle {
    display: block;
    color: #ffffff;
    position: relative;
  }

  nav input:checked ~ ul {
    background-color: var(--nav-drawer-background-color);
    position: fixed;
    right: 0;
    width: 35%;
    height: 100%;
    text-align: right;
    padding: 10px;
  }

  nav input:checked ~ ul li {
    padding: 10px;
  }


  /* nav ul {
    position: inherit;
    width: auto;
    background: none;
    height: auto;
    display: flex;
    padding-top: 0;
  }
  
  nav ul li {
    float: left;
  }

  nav ul li a {
    color: black;
    background-color: inherit;
    text-align: right;
    padding: 1em 2em;
  }

  nav ul li a:hover {
    background-color: inherit;
  } */

}